html,body {
    margin: 50px;
    font-family: 'Spartan', sans-serif;
}

.header {
    background-color: #8eba3e;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding: 50px;
}

.header h1{
    color: white;
    font-size: 3em;
}

.center {
    background-color:white;
    padding: 50px;

}

h1 {margin: 0px;
}

.footer {
    background-color:#efefef;
    text-align: center;
    padding: 100px;
}
.ftext{
    font-size: 15px;
    color: #888888;
}
.alt 
{color: #8eba3e;}

.buttonbox{
    text-align: center;
}

.button {
    
    padding: 10px;
    font-family: 'Spartan', sans-serif;
    font-size: 9px;
    background-color: #8eba3e;
    color: white;
    border-radius: 8px;
 
}